<ul class="nhsuk-list">
  <li><a href="index">Introduction</a></li>
  <li><a href="roadmap">Feature Roadmap</a></li>
  <li><a href="service-overview">Service Overview</a></li>
  <li><a href="service-description">Service Description</a></li>
  
  <li style="opacity:0.25"><a href="onboarding-plan">Onboarding Plan</a></li>
  <li style="opacity:0.25"><a href="login-contacts">NHS login contacts</a></li>
  <li style="opacity:0.25"><a href="express-interest">Express Interest</a></li>
  <li style="opacity:0.25"><a href="minimum-requirements">Minimum Requirements</a></li>
  <li style="opacity:0.25"><a href="technical-overview">Technical Overview</a></li>
  <li style="opacity:0.25"><a href="contracts">Contracts</a></li>
  
</ul>